body{
    margin:0;
    padding:0;
    background-color: #121818;    
    /* background:repeating-linear-gradient(black,white,black); */
}
/* header */

header{
    background-color: #121818;   
    opacity: 0.8;
    padding:20px;
    /* margin-top: -8px; */
    position:sticky;
    border-bottom: 2px dotted ghostwhite;
}

#home{
    display:inline-block;
    font-family: 'Times New Roman', Times, serif;

    margin-left:34px;
}

#contact{
    display:inline-block;
    margin-left: 79px;
    
}

#about-us{
    display:inline-block;
    margin-left: 90px;
}

#feedback{
    display: inline-block;
    margin-left: 112px;
}

#home a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#contact a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#about-us a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#feedback a {
    text-decoration: none;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
 
#home a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#contact a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#about-us a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#feedback a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}


/* Main */



main{
    /* background-color: #68674f; */
    
    /* padding:111px; */
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 54px 69px 71px 69px;
    
    /* width:100vw; */
}

main h1,h2{
    text-align: center;
    font-size:2.8em;
    font-style: italic;
    font-family:cursive;
    opacity:0.6;
    /* font-family: 'Orbitron', sans-serif; */
    background-image: linear-gradient(180deg,rgba(99,253,136,1) 0%,rgba(51,197,142,1) 50%,rgba(39,97,116,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    
}

#information p{
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(180deg,rgba(99,253,136,1) 0%,rgba(51,197,142,1) 50%,rgba(39,97,116,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}

#last-comment{
    text-align: center;
    font-size:2rem;
    color: black;
    font-weight: 600;
    opacity:0.6;
    margin-top: 20px;
}



/* footer */

footer{
    width:100%;
    height:37vh;
    background-color: #121818;   
    opacity: 0.8;
    /* margin-top:16vh; */
    padding:7%;
    box-sizing: border-box;
    padding-top: 2px;
}

footer div{
    display:inline-block;
    text-align:center;
    padding: 23px;
}

footer div h3 {
    color:#f5f5f5;
    opacity: 0.5;
    
}

footer div ul{
    list-style-type:none;
    
}

footer div ul li a{
    text-decoration: none;
    color:#f5f5f5;
    
}

footer div ul li a:hover{
    text-decoration: underline;
   
}

#Mail a,#alarm h3 a {
    text-decoration: none;
    color:#f5f5f5;
    
}

#Mail a:hover{
    text-decoration: underline;
}


#alarm h3 a:hover{
    text-decoration: underline;
}

#social{
    margin-left:364px;
}
#copyright{
    margin:auto;
    margin: -40px 0px 0px 457px
}

#social ul li,#about ul li{
    margin-left: -37px;
}

/* RESPONSIVE DESIGN */


@media only screen and (max-width:1050px){
    footer{
        
        display:flex;
        flex-direction:column;
        height: fit-content;
        
    }

    footer #social{
        margin-left: 10px;
    }

    footer #copyright{
        border-top: 2px solid white;
        margin-left:10px;
        margin-top:10px;
    }
}

@media screen and (max-width:708px){
    header{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    #home,#about-us,#contact,#feedback{
        margin-left:10px;
    }
}


@media screen and (max-width:530px){
    header{
        width:100vw;
        
    }
    footer{
        width:108vw;
        height: fit-content;
        
    }

    
} 