body{
    margin:0;
    padding:0;
    background-color: #121818;   
    
}

/* Header */
header{
    background-color: #121818;  
    border-bottom: 2px dotted ghostwhite; 
    opacity: 0.8;
    padding:20px;
    /* margin-top: -8px; */
}
#home{
    display:inline-block;
    font-family: 'Times New Roman', Times, serif;

    margin-left:34px;
}
#contact{
    display:inline-block;
    margin-left: 79px;
    
}
#about-us{
    display:inline-block;
    margin-left: 90px;
}

#feedback{
    display: inline-block;
    margin-left: 112px;
}

#home a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#contact a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#about-us a{
    text-decoration:unset;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
#feedback a {
    text-decoration: none;
    font-size: 20px;
    color: lavenderblush;
    font-family: cursive;
}
 


#home a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#contact a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#about-us a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}

#feedback a:hover{
    text-decoration: underline;
    cursor: pointer;
    

}




/* Main */
main{
    /* background-color: darkcyan; */
    margin-top: 15%;
    height: 589px;
    /* padding:111px;
    padding-top:240px; */
    display:flex;
    justify-content: center;
    align-items: center;
}





.form{
    
    margin-top:-217px;
}

.form form #fieldset{
    width:-1px;
    height: 600px;
    padding-top: 86px;
    box-sizing: border-box;
    /* background-color:grey; */
    background-image: linear-gradient(180deg,rgba(99,253,136,1) 0%,rgba(51,197,142,1) 50%,rgba(39,97,116,1) 100%);
}

#fieldset h1,table{
    color: black;
    font-variant: petite-caps;

}

#fieldset legend{
    color: #ffffff;
    font-size: 26px;
}

#button{
    margin-left: 180px;
    margin-top: 15px;
    /* background-color: cornsilk; */
    background-image: linear-gradient(180deg,rgba(99,253,136,1) 0%,rgba(51,197,142,1) 50%,rgba(39,97,116,1) 100%);
    text-transform: uppercase;
    font-family: cursive;
    width: 146px;
}

#button:hover{
    cursor: pointer;
}

#name,#email,#phone-no{
    width:200px;
    height:50px;
   
}

#name,#email,#phone-no,#comment{
    border-radius:15px;
    text-align: center;
}

/* footer */

footer{
    width:100%;
    height:37vh;
    background-color: #121818;   
    opacity: 0.8;
    /* margin-top:16vh; */
    padding:7%;
    box-sizing: border-box;
    padding-top: 2px;
}

footer div{
    display:inline-block;
    text-align:center;
    padding: 23px;
}

footer div h3 {
    color:#f5f5f5;
    opacity: 0.5;
    
}

footer div ul{
    list-style-type:none;
    
}

footer div ul li a{
    text-decoration: none;
    color:#f5f5f5;
    
}

footer div ul li a:hover{
    text-decoration: underline;
   
}

#Mail a,#alarm h3 a {
    text-decoration: none;
    color:#f5f5f5;
    
}


#Mail a:hover{
    text-decoration: underline;
}
#alarm h3 a:hover{
    text-decoration: underline;
}

#social{
    margin-left:364px;
}
#copyright{
    margin:auto;
    margin: -40px 0px 0px 457px
}

#social ul li,#about ul li{
    margin-left: -37px;
}

/* RESPONSIVE DESIGN */


@media only screen and (max-width:1050px){
    footer{
        /* background-color: red; */
        display:flex;
        flex-direction:column;
        height: fit-content;
        
    }

    footer #social{
        margin-left: 10px;
    }

    footer #copyright{
        border-top: 2px solid white;
        margin-left:10px;
        margin-top:10px;
    }
}

@media screen and (max-width:708px){
    header{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    #home,#about-us,#contact,#feedback{
        margin-left:10px;
    }
}


@media screen and (max-width:530px){
    header{
        width:100vw;
        
    }
    footer{
        width:108vw;
        height: fit-content;
        
    }

    
} 

@media only screen and (max-width:606px){
    .form{
        margin-top:-13%;
    }
    
    #table tr td{
        display:flex;
        flex-direction:column;

    }

    #button{
        margin:auto;
    }

    #fieldset center{
        margin-top:-76px;
    }
}